<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/chats">
        <div>
            <label>from:</label>&nbsp;
            <input name="from" type="text" placeholder="enter the senders name"><br><br>
            <label>msg:</label>
            <textarea name="msg" >write your message here...</textarea><br><br>
            <label>to:</label>&nbsp;
            <input name="to" type="text" placeholder="enter the receivers name"><br><br>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>